# frontend dependencies and build output
node_modules/
dist/
build/

# python virtual environments and cache
.venv/
venv/
__pycache__/
*.pyc

# environment variables / secrets
.env
.env.*

# generated or downloaded data
# backend/data/
# backend/data/processed/


# backend/data/raw/
# backend/data/asset/

backend/data/asset/render/enUS/cards
backend/data/asset/render/enUS/download_assets_result.txt

